*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  //equal to 10px (if base browser font-size not changed)
  font-size: 62.5%;
  font-family: Helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
}

#root {
  height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

a {
  text-decoration: none;

  img {
    vertical-align: bottom;
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  box-sizing: border-box;
  width: 1280px;
  margin: 0 auto;
  padding: 80px;
}

