.field {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 520px;
  height: 520px;
  border: solid 4px #ffffff;
  border-left: solid 4px #7b7b7b;
  border-top: solid 4px #7b7b7b;
}
