.play {
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  padding: 0;
  width: 50px;
  height: 50px;
  background-image: url("../../assets/sprite@2.png");
  background-repeat: no-repeat;
}

.start {
  background-position: -1px -49px;
}

.start:hover {
  background-position: -55px -49px;
}

.scary {
  background-position: -109px -49px;
}

.happy {
  background-position: -163px -49px;
}

.-dead {
  background-position: -217px -49px;
}
